
 




 <% if (signed_in? && (current_user?(@entry_item.user)||current_user.following?(@entry_item.user)))%>
<%= form_for(@comment) do |f| %>
   <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :contend, placeholder: "Compose new comment..." %>
  </div>
  <div class="field">
  <%= f.hidden_field :entry_id, :value => @comment.entry_id%>
</div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
<% end %>


